QMainWindow {
    background-color: #171715;
}

QStatusBar {
    background-color: #565656;
    border-top: 1px solid #7D7D7D;
    color: #c3c3c3;
    font-size: 10px;
    font-family: Arial;
    padding-left: 10px;
}

QTabWidget::pane {
    border-top: 2px solid #C2C7CB;
    background-color: #272822;
    border-radius: 5px;
}

QTabWidget::tab-bar {
    left: 5px;
    background-color: #B1B6BA;
}

QTabBar::tab {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
    border: 2px solid #C4C4C3;
    border-bottom-color: #C2C7CB;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 8ex;
    padding: 2px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #fafafa, stop: 0.4 #f4f4f4,
                                stop: 0.5 #e7e7e7, stop: 1.0 #fafafa);
}

QTabBar::tab:selected {
    border-color: #9B9B9B;
    border-bottom-color: #C2C7CB;
}

QTabBar::tab:!selected {
    margin-top: 2px;
}

QFrame#frame1 {
    border: 1px solid #50514C;
    border-radius: 3px;
}
